.create-account {
  display: flex;
  width: 60%;
  background-color: #fff;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 4;
  overflow: hidden;
}

body .create-account.hide-modal {
  display: none;
}

#cross {
  display: flex;
  justify-content: end;
  color: #2a4d93;
  cursor: pointer;
}

.create-account div img {
  width: 220px;
}

.create-account-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

form {
  padding: 2rem;
  width: 70%;
}

.create-account-form div label {
  padding-bottom: 6px;
  font-size: 12px;
}

.create-account-form div input {
  margin-bottom: 10px;
}

.create-account-logos img.logo2 {
  width: 50px;
}

.account-heading {
  margin: 1rem 0;
  padding: 8px 0;
  width: 100%;
  border-bottom: 1px solid black;
}

.cta-btns {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
}

.cta-btns button {
  padding: 0.7rem;
  border-radius: 4px;
}

.cta-btns button.blue {
  background-color: #2a4d93;
  color: #fff;
}
.cta-btns button.transparent {
  background-color: #fff;
  color: #2a4d93;
  border: 1px solid #2a4d93;
}

.forget-password {
  text-align: center;
  font-size: 10px;
  text-decoration: underline;
  color: #2a4d93;
}

@media (max-width: 1024px) {
  .create-account div img {
    display: none;
  }

  .create-account {
    justify-content: center;
  }

  .form {
    padding: 1rem;
    width: 100%;
  }

  .create-account-logos {
    display: none;
  }
}
