/* Box sizing reset to border-box for all elements */

:root {
  --color-primary: #2a4d93;
  --color-secondary: #937c2a;
  --color-dark: #1e1e1e;
  --color-light: #f2f7fd;
  --color-background: #f2f2f2;
}

html {
  box-sizing: border-box;
  color: var(--color-dark);
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Reset margins and paddings for most elements */

/* Remove list styles on ul and ol elements */
ul,
ol,
li {
  list-style: none;
}

/* Remove hyperlinks text decoration */
a {
  text-decoration: none;
}

/* Set default font and color */
body {
  font-family: 'Open Sans', sans-serif;
  color: #000; /* Default text color */
}

/* Set a base font size for easier rem units */
html {
  font-size: 16px;
}

h1,
h2 {
  font-size: 32px;
  color: var(--color-primary);
}

h3 {
  font-size: 24px;
  color: var(--color-primary);
}

img {
  display: block;
  width: 100%;
}

p,
a {
  font-size: 16px;
}

.latest-new-card div p {
  font-size: 16px;
}

.header-nav ul li {
  color: var(--color-primary);
}

.footer-nav ul li a {
  font-size: 16px;
}

.footer-nav ul p {
  font-size: 16px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Navbar */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-icon {
  display: none;
}

.header-nav-links {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.header-nav ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem 0;
}

.login {
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 0.5rem 1rem;
}

.get-started {
  border-radius: 4px;
  background: var(--color-primary);
  color: #ffff;
  padding: 0.5rem 1rem;
}

.hero-bg {
  background: var(
    #ffff,
    linear-gradient(
      358deg,
      rgba(255, 255, 255, 0.2) 38.89%,
      rgba(143, 168, 255, 0.13) 86.34%
    ),
    #fff
  );
}

.contact-bg {
  background-color: var(--color-background);
}

.director-bg {
  background-color: var(--color-light);
}

.socials p i {
  color: var(--color-primary);
}

@media (max-width: 419px) {
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
    text-align: center;
  }

  h1 {
    font-size: 26px;
  }

  .header-nav a img {
    padding: 1rem 0;
  }
  .header-nav-links {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .hamburger-icon i {
    font-size: 32px;
    color: var(--color-primary);
  }
}
