:root {
  --color-primary: #2a4d93;
  --color-secondary: #937c2a;
  --color-dark: #1e1e1e;
  --color-light: #f2f7fd;
  --color-background: #f2f2f2;
}

/* Hero */

.hero {
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.hero figure {
  width: 60rem;
}

.hero section div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.hero section div p,
a {
  font-size: 14px;
}
.hero section div a {
  border-radius: 4px;
  background: var(--color-secondary);
  padding: 0.4rem 1rem;
  color: #ffff;
}

.hero section h1 {
  margin: 1rem 0;
}

.hero section h1 span {
  color: var(--color-secondary);
}

.hero section p {
  margin: 1rem 0;
}

.hero section div img {
  width: 15%;
}

.hero section div p span {
  color: var(--color-secondary);
}
/* End of hero */

.partners h2 {
  text-align: center;
}

/* Partners */

.partners-bg {
  background-color: var(--color-light);
  padding: 3rem 0;
}

.partners-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 2rem 0;
}

.partners-logo img {
  width: 200px;
}
/* End of Partners */

/* Siora */
.siora {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 3rem auto;
}

.siora p {
  margin: 1.5rem 0;
}

.siora figure {
  width: 70rem;
}
/* End of Siora */

/* Directors */
.director {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 4rem 0;
}

.director figure {
  width: 100rem;
}

.director p {
  margin: 1.5rem 0;
}

.director li a {
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  padding: 0.4rem 4rem;
}
/* Directores */

/* Contact */
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
}

.contact div p {
  margin: 1rem 0;
}

.contact figure {
  width: 50rem;
}

.contact form {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.6rem;
  border-radius: 4px;
}

.sub-btn {
  border-radius: 40px;
  background: var(--color-primary);
  padding: 0.6rem 1rem;
  color: #fff;
}
/* Contact */

/* latest news */

.latest-news {
  margin: 3rem auto;
}

.latest-news h2 {
  text-align: center;
  margin-bottom: 7rem;
}
.latest-news-card {
  display: flex;
  margin: 2rem 0;
  gap: 2rem;
}

.latest-news-card h3 {
  font-size: 20px;
}

.latest-news-card h3,
p {
  margin: 0.7rem 0;
}

.latest-news-card li {
  display: flex;
  justify-content: flex-end;
}

.latest-news-card li a {
  padding: 0.6rem 1rem;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 5px;
}

.latest-news h2.latest-news-heading {
  margin-bottom: 0;
}

.latest-news .heading-p {
  text-align: center;
}

.latest-news-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.latest-news-buttons button {
  padding: 7px 1rem;
  border-radius: 8px;
  background: var(--color-light);
  cursor: pointer;
}
.latest-news-content {
  width: 80%;
  margin: 2rem auto;
}

.other-news {
  color: var(--color-primary);
  font-weight: 500;
}

.latest-news-buttons button.active {
  background-color: var(--color-primary);
  color: #ffff;
}

.latest-news-button button .footer-nav {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
  padding-top: 5rem;
}

.page-navigators {
  display: flex;
  justify-content: space-between;
}
.page-navigators i {
  color: var(--color-dark);
}

.page-navigators li a {
  color: var(--color-dark);
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
  padding-top: 5rem;
}

.footer-nav ul li {
  margin: 0.7rem 0;
}

.footer-nav div figure {
  width: 30%;
}

.footer-nav ul li a {
  color: var(--color-dark);
}

.socials {
  display: flex;
  gap: 1rem;
}

.our-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  width: 80%;
}

.our-team h3 {
  text-align: center;
}

.our-team p {
  font-size: 16px;
  text-align: center;
}

.our-team h3 {
  font-size: 20px;
  color: var(--color-dark);
  margin: 10px 0;
}

.our-team div figure {
  background: var(--color-primary);
  overflow: hidden;
  border-radius: 50%;
}
@media (max-width: 419px) {
  /* Your styles for screens less than 420px go here */
  .header-nav div img {
    padding: 1rem 0;
  }
  .header-nav-links {
    display: none;
  }

  .hero {
    flex-direction: column;
    margin: 2rem auto;
  }

  .hero section h1 {
    font-size: 26px;
    text-align: center;
  }

  .hero figure {
    width: 100%;
  }

  .partners-logo {
    flex-direction: column;
  }

  .siora {
    flex-direction: column;
  }

  .siora figure {
    width: 100%;
  }
  .director {
    flex-direction: column;
  }

  .director figure {
    width: 100%;
  }
  .contact {
    flex-direction: column;
  }

  .contact figure {
    width: 100%;
  }

  .latest-news-card {
    flex-direction: column;
  }

  .footer-nav {
    flex-direction: column;
  }

  .hero section div {
    justify-content: start;
  }

  .hero section div img {
    display: none;
  }

  .hero section div p {
    width: 40%;
  }

  .our-team {
    flex-direction: column;
  }

  /* Add more styles as needed */
}
