:root {
  --color-primary: #2a4d93;
  --color-secondary: #937c2a;
  --color-dark: #1e1e1e;
  --color-light: #f2f7fd;
  --color-background: #f2f2f2;
}

.research {
  width: 70%;
  margin: 0 auto;
}

.research h2 {
  text-align: center;
  margin: 4rem 0;
}

.research-card {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.card {
  border: 2px solid var(--color-light);
  margin: 1rem;
}

.card div {
  padding: 1rem;
}

@media (max-width: 500px) {
  .research h2 {
    margin: 1.5rem 0;
  }

  .research-card {
    flex-direction: column;
    gap: 0;
  }
}
