:root {
  --color-primary: #2a4d93;
  --color-secondary: #937c2a;
  --color-dark: #1e1e1e;
  --color-light: #f2f7fd;
  --color-background: #f2f2f2;
}

/* Hero */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 2rem 0;
}

.login {
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 0.5rem 1rem;
}

.get-started {
  border-radius: 4px;
  background: var(--color-primary);
  color: #ffff;
  padding: 0.5rem 1rem;
}

.hero {
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.hero figure {
  width: 60rem;
}

.hero section div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.hero section div p,
a {
  font-size: 14px;
}
.hero section div a {
  border-radius: 4px;
  background: var(--color-secondary);
  padding: 0.4rem 1rem;
  color: #ffff;
}

.hero section h1 {
  margin: 1rem 0;
}

.hero section h1 span {
  color: var(--color-secondary);
}

.hero section p {
  margin: 1rem 0;
}

.hero section div img {
  width: 15%;
}

.hero section div p span {
  color: var(--color-secondary);
}
/* End of hero */

.partners h2 {
  text-align: center;
}

/* Partners */

.partners-bg {
  background-color: var(--color-light);
  padding: 3rem 0;
}

.partners-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 2rem 0;
}

.partners-logo img {
  width: 200px;
}
/* End of Partners */

/* Siora */
.siora {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 3rem auto;
}

.siora p {
  margin: 1.5rem 0;
}

.siora figure {
  width: 70rem;
}
/* End of Siora */

/* Directors */
.director {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 4rem 0;
}

.director figure {
  width: 100rem;
}

.director p {
  margin: 1.5rem 0;
}

.director li a {
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  padding: 0.4rem 4rem;
}
/* Directores */

/* Contact */
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
}

.contact div p {
  margin: 1rem 0;
}

.contact figure {
  width: 50rem;
}

.contact form {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.6rem;
  border-radius: 4px;
}

.sub-btn {
  border-radius: 40px;
  background: var(--color-primary);
  padding: 0.6rem 1rem;
  color: #fff;
}
/* Contact */

/* latest news */

.latest-news {
  margin: 3rem auto;
}

.latest-news h2 {
  text-align: center;
  margin-bottom: 7rem;
}
.latest-news-card {
  display: flex;
  margin: 2rem 0;
  gap: 2rem;
}

.latest-news-card h3 {
  font-size: 20px;
}

.latest-news-card h3,
p {
  margin: 0.7rem 0;
}

.latest-news-card li {
  display: flex;
  justify-content: flex-end;
}

.latest-news-card li a {
  padding: 0.6rem 1rem;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 5px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
  padding-top: 5rem;
}

.footer-nav ul li {
  margin: 0.7rem 0;
}

.footer-nav div figure {
  width: 30%;
}

.footer-nav ul li a {
  color: var(--color-dark);
}

.socials {
  display: flex;
  gap: 1rem;
}
